body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f06d06, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo ligeramente transparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, label {
    color: #000; /* Color de texto negro para título y etiquetas */
}

p {
    color: #333; /* Color de texto más oscuro para párrafo */
    margin-bottom: 1em;
}

.campo-busqueda, .contenedor-limpiar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#nombreCoctel, #categoriaCoctel, #instruccionesCoctel {
    width: calc(100% - 100px);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Times New Roman', serif;
    color: #000; /* Color de texto negro para las cajas de entrada y área de texto */
}

#botonBuscar, #botonLimpiar {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
    font-family: 'Times New Roman', serif;
}

#botonBuscar {
    background-color: #f06d06;
}

#botonBuscar:hover {
    background-color: #cc5801;
}

#botonLimpiar {
    background-color: #dc3545; /* Color rojo para el botón Limpiar */
    color: white; /* Texto en blanco para el botón Limpiar */
}

#botonLimpiar:hover {
    background-color: #c82333;
}

label {
    font-weight: bold;
}

#contenedorImagen {
    text-align: center;
    margin-top: 1em;
    width: 100%;
    background: #fff;
    padding: 1em;
    border-radius: 4px;
}

#imagenCoctel {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
